<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Floral Garden 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130323

-->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Mandi Haase Portfolio</title>
    <link
      href="http://fonts.googleapis.com/css?family=Istok+Web:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="./static/default.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link href="./static/assets/favicon.ico" rel="icon" />
  </head>
  <body>
    <div id="header-wrapper">
      <div id="header">
        <div id="logo">
          <h1><a href="#">Coding Rocks</a></h1>
        </div>
        <div id="menu">
          <ul>
            <li class="current_page_item">
              <a href="#" accesskey="1" title="">Homepage</a>
            </li>
            <li><a href="./work.html" accesskey="2" title="">Work</a></li>
            <li><a href="#" accesskey="3" title="">About</a></li>
            <li><a href="#" accesskey="4" title="">Thoughts </a></li>
            <li><a href="#" accesskey="5" title="">Home</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <form action="submit_form" method="post" class="reveal-content">
        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <input
                name="email"
                type="email"
                class="form-control"
                id="email"
                placeholder="Email"
              />
            </div>
            <div class="form-group">
              <input
                name="subject"
                type="text"
                class="form-control"
                id="subject"
                placeholder="Subject"
              />
            </div>
            <div class="form-group">
              <textarea
                name="message"
                class="form-control"
                rows="5"
                placeholder="Enter your message"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-default btn-lg">Send</button>
          </div>
          <div class="col-md-5 address-container">
            <ul class="list-unstyled">
              <li>
                <span class="fa-icon">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </span>
                + 33 9 07 45 12 65
              </li>
              <li>
                <span class="fa-icon">
                  <i class="fa fa-at" aria-hidden="true"></i>
                </span>
                e-mail@mail.io
              </li>
              <li>
                <span class="fa-icon">
                  <i class="fa fa fa-map-marker" aria-hidden="true"></i>
                </span>
                42 rue Moulbert 75016 Paris
              </li>
            </ul>
            <h3>Follow me on social networks</h3>
            <a href="http://www.facebook.com" title="" class="fa-icon">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="http://www.twitter.com" title="" class="fa-icon">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="http://www.linkedin.com" title="" class="fa-icon">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
      </form>
    </div>
    <div id="footer">
      <p>
        &copy; Untitled. All rights reserved. Design by
        <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. Photos by
        <a href="http://fotogrph.com/">Fotogrph</a>.
      </p>
    </div>
  </body>
</html>
